@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #D7D7D7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ReactModal__Content{
  z-index: 9999 !important;
  border: none !important;
  border-radius: 20px !important;
  padding: 24px !important;
  inset: 0 !important;
  position: absolute !important;
  margin: auto !important;
  width: fit-content !important;
  height: fit-content !important;
  border-radius: 20px !important;
  background-color: #EFEFEF;
  overflow-y: scroll;
}

.ReactModal__Overlay{
  background-color: rgba(0, 0, 0, 0.2) !important;
  width: 100%;
  height: 100%;
}